.master{
	max-height: 85%;
    overflow-y: auto;
}
.options{
	float: right;
	margin: 5px;
    background-color: #BAC4DA55;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
h2{
	color: #003ebb;
    padding-left: 15px;
    padding-right: 15px;
}
#search-id{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-bottom: 1px solid;
    width: 100%;
}
h4{
	margin-top: 10px;
	background-color: #BAC4DA55;
    padding: 10px;
}
.save-btn{
	margin-left: 15px;
    background-color: #003ebb !important;
    background-image: none !important;
}
th{
	text-align: center;
}

td>input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #BAC4DA55;
}

td>input:focus{
	border-bottom: 1px solid #003ebb;
}
.ped{
	margin-top: 20px;
}
.td1{
	width: 40%;
}
.td2{
	width: 20%;
}
.td3{
	width: 10%;
}
.td4{
	width: 10%;
}
.td5{
	width: 10%;
}
.td6{
	width: 10%;
}
#cont-input{
	border: none;
	border-bottom: 1px solid #BAC4DA55;
	margin-bottom: 10px;
}
#cont-input:focus{
	border-bottom: 1px solid #003ebb;
}
#marital{
    width: 20%;
}
#add-item{
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #003dbb;
    cursor: copy;
    float: right;
    position: relative;
    bottom: 25px;
}
.auto-copy{
    float: right;
    color: #003dbb;
    cursor: copy;
}
.doc-img{
	width: 90%;
    height: 40%;
}
#csv,#passport,#family,#document1,#document2,#document3,#document4,#document5,#document6,#document7{
	display: none;
}
.img-div{
	position: relative;
	z-index: -1000;
}
.button-div{
	bottom: 110px;
}
.button-tag>i{
	font-size: 40px;
	margin: 15px;
    background-color: #BAC4DA;
    padding: 6px;
    border-radius: 26px;
}
.loader{
    display: none;
}
#save-div{
    width: 30% !important;
}

#save-p{
    margin-top: 13px;
    font-size: 25px !important;
}

#save-btn{
    margin-bottom: 21px;
    font-size: 18px !important;
    background-color: #003ebb !important;
    background-image: none !important;
}
.twitter-typeahead{
    float: right;
}
.suggested-empcode{
    color: #003ebb;
    font-size: 12px;
}
.suggested-user{
    cursor: pointer;
}
.no-user{
    font-size: 20px;
}

#company-master{
    margin-top: 20px;
}

.company-list{
    list-style: none;
    margin: 0px;
    width: 50%;
    padding-left: 20px;
    display: inline-block;
}

.company-list > li{
    margin-right: 10px;
    padding: 3px 20px;
    text-align: center;
}

.active-li{
    background-color: #003ebb;
    border-radius: 23px;
}

.active-li > a {
    color: white !important;    
}