@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    /*background: #fafafa;*/
}

img {
    display: block;
    height: 20px;
    margin: 20px;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    height: 100%;
}
#sidebar{
	background-color: #BAC4DA55;
	height: 100%;
    width: 14%;
}

main{
    width: 84%;
}

li{
    padding: 10px;
}

a{
	color: #003ebb;
	font-size: medium;
    font-weight: 500;
}
a:focus{
	text-decoration: none;
}
a:hover{
	color: #003ebbd1;
	text-decoration: none;
}
.active{
	background-color: white;
    border-right: 4px solid #003dbb;
}
#content{
	width: 100%;
}
.p-lr-0{
	padding-left: 0px;
	padding-right: 0px;
}
.p-r-0{
	padding-right: 0px;
}
.p-l-0{
	padding-left: 0px;
}
input:focus{
	outline: none;
}
textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003ebb; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #003dbb;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
    float: right;
}


#date-selector{
    width: 15%;
    display: inline-block;
    margin-left: 20px;
}

#filter-holder{
    margin-top: 30px;
}


.table-wrapper{
    margin: 20px 0px 20px 20px;
}


.dept-daily-report-table td>input{
    width: 75%;
}


.dept-daily-report-table td>input ~ button{
    width: 20%;
    font-size: 12px;
    float: right;
}

.dept-daily-report-table td> select{
    width: 100%;
}


.dept-daily-report-table{
    height: inherit;
}

.dept-daily-report-table>tbody tr{
    height: 10px;
}




.table-wrapper{
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 75vh;
}




/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}