
.index-body {
    font-family: 'Roboto', sans-serif !important;
}
.login-title {
    font-weight: 700;
    color: #003ebb;
}
button, input, a, i, select {
    outline: none!important;
}
.login-textbox {
    font-weight: 700;
    font-size: 16px;
}
.label {
    font-size: 16px;
}
.index-body {
    background-color: #fafafa !important;
    font-weight: 300;
    font-size: 14px;
    color: #fafafa;
}
.v-align {
    display: flex;
    align-items: center;
    height: 95vh;
}
.card-width {
    display: block;
    width: 370px !important;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff !important;
    box-shadow: 0px 5px 15px 0px #dedbdb !important;
    border-bottom: 4px solid blue;
}
.login-logo {
    height: 30px;
    margin-top: 30px;
}
.login-textbox {
    background-color: #efefef !important;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    color: #555;
    width: 75%;
    margin-bottom: 10px;
}
.inputfield-group {
    margin-top: 20px;
}
.label {
    margin-left: 50px;
    font-size: 16px;
    /*margin-bottom: 20px;*/
    /*padding-top: 50px;*/
    font-weight: 400;
    color: #555 !important;
}
.login-cases {
    display: block;
    font-size: 16px;
    text-align: center;
}
.failed {
    color: #FF343B;
    font-weight: 700;
}
.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 40px !important;
    border: none;
    border-radius: 50px !important;
    font-size: 16px;
    margin-bottom: 20px;
    vertical-align: middle;
    font-weight: 400;
    background: #003ebb;
}
.login-button:hover {
    background: #003ebbd1;
}
.abstract {
    margin-top: -18px;
}
input:focus, button:focus {
    outline: none;
}
